@model MvcStok.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--MÜSTERİ GÜNCELLE SAYFASI-->
<!--Formda ilk açıldığında bu kısım çalışacak -->
<!--Label Kullanmak Yerine Normal Text olarakta etiketsiz yazabiliriz-->
@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <!--Sadece Tabloda ki veriler buraya yazılabilir.-->
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERIID)
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MUSTERIAD)
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MUSTERISOYAD)
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}